In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("vehicles_messy.csv")

C:\Users\april\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [6]:
df.isnull().sum()

barrels08              0
barrelsA08             0
charge120              0
charge240              0
city08                 0
city08U                0
cityA08                0
cityA08U               0
cityCD                 0
cityE                  0
cityUF                 0
co2                    0
co2A                   0
co2TailpipeAGpm        0
co2TailpipeGpm         0
comb08                 0
comb08U                0
combA08                0
combA08U               0
combE                  0
combinedCD             0
combinedUF             0
cylinders            123
displ                120
drive               1189
engId                  0
eng_dscr           15403
feScore                0
fuelCost08             0
fuelCostA08            0
                   ...
rangeCity              0
rangeCityA             0
rangeHwy               0
rangeHwyA              0
trany                 11
UCity                  0
UCityA                 0
UHighway               0
UHighwayA              0
VClass                 0
year                   0
youSaveSpend           0
guzzler            35562
trans_dscr         22796
tCharger           32657
sCharger           37177
atvType            34771
fuelType2          36435
rangeA             36440
evMotor            37281
mfrCode            30818
c240Dscr           37806
charge240b             0
c240bDscr          37807
createdOn              0
modifiedOn             0
startStop          31705
phevCity               0
phevHwy                0
phevComb               0
Length: 83, dtype: int64

In [9]:
df.isnull().sum() / len(df)

barrels08          0.000000
barrelsA08         0.000000
charge120          0.000000
charge240          0.000000
city08             0.000000
city08U            0.000000
cityA08            0.000000
cityA08U           0.000000
cityCD             0.000000
cityE              0.000000
cityUF             0.000000
co2                0.000000
co2A               0.000000
co2TailpipeAGpm    0.000000
co2TailpipeGpm     0.000000
comb08             0.000000
comb08U            0.000000
combA08            0.000000
combA08U           0.000000
combE              0.000000
combinedCD         0.000000
combinedUF         0.000000
cylinders          0.003250
displ              0.003171
drive              0.031419
engId              0.000000
eng_dscr           0.407024
feScore            0.000000
fuelCost08         0.000000
fuelCostA08        0.000000
                     ...
rangeCity          0.000000
rangeCityA         0.000000
rangeHwy           0.000000
rangeHwyA          0.000000
trany              0.000291
UCity              0.000000
UCityA             0.000000
UHighway           0.000000
UHighwayA          0.000000
VClass             0.000000
year               0.000000
youSaveSpend       0.000000
guzzler            0.939725
trans_dscr         0.602384
tCharger           0.862960
sCharger           0.982401
atvType            0.918823
fuelType2          0.962794
rangeA             0.962926
evMotor            0.985149
mfrCode            0.814365
c240Dscr           0.999022
charge240b         0.000000
c240bDscr          0.999049
createdOn          0.000000
modifiedOn         0.000000
startStop          0.837804
phevCity           0.000000
phevHwy            0.000000
phevComb           0.000000
Length: 83, dtype: float64

In [ ]:
# df = df.drop([["evMoter", "mfrCode"]], axis = 1)

In [ ]:
# df.isnull() -> the whole df
# pd.df.isnull()--> check row columns

In [15]:
null_cols = df.isnull().sum()
null_cols[null_cols > 10000]

eng_dscr      15403
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [16]:
df.count()

barrels08          37843
barrelsA08         37843
charge120          37843
charge240          37843
city08             37843
city08U            37843
cityA08            37843
cityA08U           37843
cityCD             37843
cityE              37843
cityUF             37843
co2                37843
co2A               37843
co2TailpipeAGpm    37843
co2TailpipeGpm     37843
comb08             37843
comb08U            37843
combA08            37843
combA08U           37843
combE              37843
combinedCD         37843
combinedUF         37843
cylinders          37720
displ              37723
drive              36654
engId              37843
eng_dscr           22440
feScore            37843
fuelCost08         37843
fuelCostA08        37843
                   ...
rangeCity          37843
rangeCityA         37843
rangeHwy           37843
rangeHwyA          37843
trany              37832
UCity              37843
UCityA             37843
UHighway           37843
UHighwayA          37843
VClass             37843
year               37843
youSaveSpend       37843
guzzler             2281
trans_dscr         15047
tCharger            5186
sCharger             666
atvType             3072
fuelType2           1408
rangeA              1403
evMotor              562
mfrCode             7025
c240Dscr              37
charge240b         37843
c240bDscr             36
createdOn          37843
modifiedOn         37843
startStop           6138
phevCity           37843
phevHwy            37843
phevComb           37843
Length: 83, dtype: int64

In [13]:
null_cols[null_cols == 0]

barrels08          0
barrelsA08         0
charge120          0
charge240          0
city08             0
city08U            0
cityA08            0
cityA08U           0
cityCD             0
cityE              0
cityUF             0
co2                0
co2A               0
co2TailpipeAGpm    0
co2TailpipeGpm     0
comb08             0
comb08U            0
combA08            0
combA08U           0
combE              0
combinedCD         0
combinedUF         0
engId              0
feScore            0
fuelCost08         0
fuelCostA08        0
fuelType           0
fuelType1          0
ghgScore           0
ghgScoreA          0
                  ..
highwayUF          0
hlv                0
hpv                0
id                 0
lv2                0
lv4                0
make               0
model              0
mpgData            0
phevBlended        0
pv2                0
pv4                0
range              0
rangeCity          0
rangeCityA         0
rangeHwy           0
rangeHwyA          0
UCity              0
UCityA             0
UHighway           0
UHighwayA          0
VClass             0
year               0
youSaveSpend       0
charge240b         0
createdOn          0
modifiedOn         0
phevCity           0
phevHwy            0
phevComb           0
Length: 66, dtype: int64

In [19]:
sum(df["cylinders"].isnull())

123

In [23]:
df["trans_dscr"].isnull().sum()

22796

In [21]:
df["cylinders"] = df["cylinders"].fillna(0)
sum(df["cylinders"].isnull())

0

In [18]:
null_cols_10000 = list(null_cols[null_cols > 10000].index)
print(null_cols_10000)
# df.drop(null_cols_10000, axis =1)

['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop']

In [24]:
set(df["trany"])

{'Auto (AV)',
 'Auto (AV-S6)',
 'Auto (AV-S8)',
 'Auto(A1)',
 'Auto(AM-S6)',
 'Auto(AM-S7)',
 'Auto(AM-S8)',
 'Auto(AM-S9)',
 'Auto(AM5)',
 'Auto(AM6)',
 'Auto(AM7)',
 'Auto(AM8)',
 'Auto(AV-S6)',
 'Auto(AV-S7)',
 'Auto(AV-S8)',
 'Auto(L3)',
 'Auto(L4)',
 'Automatic (A1)',
 'Automatic (A6)',
 'Automatic (AM5)',
 'Automatic (AM6)',
 'Automatic (AV)',
 'Automatic (AV-S6)',
 'Automatic (S4)',
 'Automatic (S5)',
 'Automatic (S6)',
 'Automatic (S7)',
 'Automatic (S8)',
 'Automatic (S9)',
 'Automatic (variable gear ratios)',
 'Automatic 3-spd',
 'Automatic 4-spd',
 'Automatic 5-spd',
 'Automatic 6-spd',
 'Automatic 6spd',
 'Automatic 7-spd',
 'Automatic 8-spd',
 'Automatic 9-spd',
 'Manual 3-spd',
 'Manual 4-spd',
 'Manual 4-spd Doubled',
 'Manual 5 spd',
 'Manual 5-spd',
 'Manual 6-spd',
 'Manual 7-spd',
 'Manual(M7)',
 nan}

In [30]:
# df["trany"] = df["trany"].str.replace("-", "")
df["trany"].apply(lambda x: x.replace("-", ""))

AttributeError: 'float' object has no attribute 'replace'

In [32]:
df["trany"] = df["trany"].str.replace("-", "").str.replace("Automatic", "Auto").str.replace(" ", "").str.replace("(", "").str(replace(")", ""))
set(df["trany"])

NameError: name 'replace' is not defined

In [37]:
# dropping duplicates comparing the whole raw
# df.drop_duplicates()
# df[["year", "cylinders", "trany"]].drop_duplicates()
df.drop_duplicates(["year", "cylinders", "trany"])

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
5,14.982273,0.0,0.0,0.0,21,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
9,13.184400,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
18,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
19,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
20,20.600625,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
22,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
24,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
25,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
31,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
91,25.354615,0.0,0.0,0.0,12,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
102,23.543571,0.0,0.0,0.0,13,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
111,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
112,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
114,20.600625,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
125,27.467500,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
142,21.974000,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
169,21.974000,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
247,16.480500,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
258,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
271,21.974000,0.0,0.0,0.0,13,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
302,19.388824,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
304,17.347895,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
309,21.974000,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
314,23.543571,0.0,0.0,0.0,14,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
335,12.207778,0.0,0.0,0.0,26,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
473,27.467500,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35782,19.388824,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
35788,25.354615,0.0,0.0,0.0,12,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36242,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36246,19.388824,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36258,10.987000,0.0,0.0,0.0,28,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36259,8.908378,0.0,0.0,0.0,35,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36261,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36268,19.388824,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36269,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36270,19.388824,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36275,19.388824,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36276,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36278,19.388824,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36282,41.201250,0.0,0.0,0.0,7,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36316,17.347895,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36317,16.480500,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36335,15.695714,0.0,0.0,0.0,18,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36350,11.771786,0.0,0.0,0.0,25,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36392,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36508,10.987000,0.0,0.0,0.0,28,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
36995,23.543571,0.0,0.0,0.0,12,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37439,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37458,27.467500,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37464,18.311667,0.0,0.0,0.0,16,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37465,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37469,19.388824,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37471,18.311667,0.0,0.0,0.0,15,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37513,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37567,25.354615,0.0,0.0,0.0,11,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
37683,10.987000,0.0,0.0,0.0,28,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [ ]:
# pd.merge(a,b, left_on =, right_on =)
# a.merge(b, on=..., how =....)